<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="http://localhost:8080/styles/home_final.css">
        <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">            
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
    </head>
    <body>
        <div id="top-navbar">
            <div id="image-holder">
                <div id="logo"></div>
            </div>
            <div id="content-holder">
                <div id="social-media"></div>
                <div id="slanted-item" >
                    <div id="menu-1">
                        <div id="menu-container">
                            <a class="menu">HOME</a>
                            <a class="menu" href="/outpass_security">OUTPASS</a>
                        </div>
                    </div>

                    <div id="profile" onclick="showdiv()">
                        <i class='fas fa-user fa-2x' style="pointer-events: none;"></i>

                    </div>
                </div>
            </div>
        </div>
        <div id="profile-box">
            <div id="box2">
                <div id="profile-img">
                    <i class='fas fa-user-edit' style='font-size:90px;color:white'></i>
                </div>
                <form>
                    <div id="profile-info">
                        <div class="info" style="font-size:25px;"><%=fname%></div>
                        <div class="info"><%=ftitle%></div>
                        <div class="info">Personal Contact No. : <%=fnum%></div>
                    </div>
                </form>
                <div id="darkmode">
                    <div id="darkmode-div">
                        <div class="darkmode-font">Light</div>
                        <div class="switch">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div id="slider" onclick="darkmode()"class="slider round"></div>
                            </label>
                        </div>
                        <div class="darkmode-font">Dark</div>
                    </div>

                    <a class="change-password" href="/changepassword">Change Password</a>
                

                    
                        <div class="logout">
                            <a href="/start" id="logout-btn">LOGOUT</a>
                        </div>
                </div>
            </div>
        </div>
        <div id="vl"></div>
        <div id="background-div"></div>
        <div id="grid-up"></div>
        
        <div id="blah">
            <div id="allI">
                <div id="I1" >
                    <div id="I11" data-aos="fade-down" data-aos-duration="700" data-aos-delay="0"></div>
                    <div id="I12" data-aos="fade-up"  data-aos-duration="700" ></div>
                </div>
                <div id="I2" >
                    <div id="I21" data-aos="fade-down"  data-aos-duration="700" data-aos-delay="300"></div>
                    <div id="I22" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400"></div>
                </div>
                <div id="I3" >
                    <div id="I31" data-aos="fade-down"  data-aos-duration="700" data-aos-delay="700"></div>
                    <div id="I32" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000"></div>
                </div>
                <div id="T">
                    <div id="T1" data-aos="fade-left" aos-duration="700" data-aos-delay="1400"></div>
                    <div id="T2" data-aos="fade-up"  data-aos-duration="700" data-aos-delay="1100"></div>
                </div>
            </div>
            <div id="dwd" data-aos="fade-right">DHARWAD</div>
        </div>
        <div id="welcome">
            <div id="part1">
                <label id="label">WELCOME</label>
            </div>
            <div id="part2">
                <div id="name">
                    <%=fname%>
                </div>
                <div id="clock"></div>
            </div>
        </div>
        <!--<div id="notifications"  data-aos="fade-right" data-aos-duration="700" data-aos-delay="300">
            <div class="notifications-box">
                <div class="notification-left" style="background:var(--font-color1);"></div>
                <div class="notifications-1">
                    
                </div>
                <div class="icons">
                    <div class="circle" style="background:var(--font-color11)">
                        <i class='fas fa-user-friends' style='font-size:2.4rem;color:var(--font-color1)'></i>
                    </div>
                </div>
            </div>
            <div class="notifications-box">
                <div class="notification-left" style="background:var(--font-color2);"></div>
                <div class="notifications-1">
                    
                </div>
                <div class="icons">
                    <div class="circle" style="background:var(--font-color21)">
                        <i class='fas fa-address-card' style='font-size:2.4rem;color:var(--font-color2);'></i>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="rules-box" >
            <div id="complaints-dropdown" class="rules" style="border-bottom:1px solid var(--gray-400)">
                <div class="rules-header" style="color:var(--font-color1);">
                    Rules for Registering Complaints
                </div>
                <div id="dropdown1" onclick="complaints_drop()">
                    <i class='fas fa-angle-right' style='font-size:30px;color:var(--options-inactive);'></i>
                </div>
            </div>
            <div id="complaints-box">
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color2)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        Each student gets a small cooldown for registering a complaint (3hrs)
                    </div>
                </div>
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color2)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        The complaint will be registered and can be viewed by respected Committees
                    </div>
                </div>
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color2)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        If the complaint is not addressed by the respective Committee you can forward the complaint to Hostel Warden 
                    </div>
                </div>
            </div>
            <div id="outpass-dropdown" class="rules">
                <div class="rules-header" style="color:var(--font-color2);">
                    Rules for Requesting Outpass
                </div>
                <div id="dropdown2" onclick="outpass_drop()">
                    <i class='fas fa-angle-right' style='font-size:30px;color:var(--options-inactive);'></i>
                </div>
            </div>
            <div id="outpass-box">
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color1)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        Each student gets a small cooldown for requesting an Outpass (3hrs after Arrival date)
                    </div>
                </div>
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color1)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        The Outpass request will be registered and can be viewed by out respective faculty advisor and Hostel Warden
                    </div>
                </div>
                <div class="rules-lines">
                    <div style="display:flex;align-items:center;justify-content: center;">
                        <div class="points" style="background:var(--font-color1)"></div>
                    </div>
                    <div style="display:flex;align-items:center;padding-left:1rem;color:var(--options-inactive);">
                        Incase of Emergency, your request will be sent to Hostel Warden directly for approval
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <div id="details">
                <div class="sections" style="border-right:1px solid var(--gray-200);">
                    <div id="section-headers1">Quick Find</div>
                    <div class="links" onclick="IIITD()">IIIT Dharwad</div>
                    <div class="links" onclick="About()">About IIIT Dharwad</div>
                    <div class="links" onclick="Acedemics()">Acedemics</div>
                    <div class="links" onclick="AIMS()">AIMS Portal</div>
                </div>
                <div class="sections">
                    <div class="section-headers">Contact Us</div>
                    <div class="links">
                        <span class="material-symbols-outlined">
                            home
                            </span>
                    </div>
                    <div class="links1">IIIT Dharwad Campus, Ittigatti Road, Near Sattur Colony, Dharwad 580009</div>
                    <div class="links">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                            </span>
                    </div>
                    <div class="links1">0836 2250879, 9449732959</div>
                </div>
                <div class="sections1" style="border-left:1px solid var(--gray-200);">
                    <div class="section-headers">Social Links</div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="youtube()">
                            <i class="fa fa-youtube-play yt" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="youtube()">
                            YouTube
                        </div>
                    </div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="twitter()">
                            <i class="fa fa-twitter twt" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="twitter()">
                            Twitter
                        </div>
                    </div>
                    <div class="links2">
                        <div style="display:flex;align-items:center;cursor: pointer;" onclick="facebook()">
                            <i class="fa fa-facebook fb" style="font-size:1.5rem;color:var(--options-inactive);"></i>
                        </div>
                        <div style="display:flex;align-items:center;color:var(--options-inactive);cursor: pointer;" onclick="facebook()">
                            Facebook
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div id="footer-img"></div>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
            
          function IIITD() {
            window.open(
            "https://iiitdwd.ac.in", "_blank");
        }

        function facebook() {
            window.open(
                "https://www.facebook.com/pages/category/Interest/IIIT-Dharwad-107055984131970/","_blank");
        }

        function youtube(){
            window.open(
                "https://www.youtube.com/channel/UCVvvR0-TvLQOJehUPkQ_Cwg","_blank");
        }

        function twitter(){
            window.open(
                "https://twitter.com/dharwad_iiit?lang=en","_blank");
        }

        function About() {
            window.open(
            "https://iiitdwd.ac.in/about.php", "_blank");
        }
        function Acedemics() {
            window.open(
            "https://iiitdwd.ac.in/academics.php", "_blank");
        }
        function AIMS() {
            window.open(
            "https://aims.iiitdwd.ac.in/aims/", "_blank");
        }

        function complaints_drop(){
            var element= document.body;

            element.classList.toggle("rules-toggle1");
            element.classList.remove("rules-toggle2");
        }

        function outpass_drop(){
            var element= document.body;

            element.classList.toggle("rules-toggle2");
            element.classList.remove("rules-toggle1");
        }
        

            function Outpass(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Outpass.html');
            }

            function darkmode(){
                var element= document.body;

                element.classList.toggle('dark-theme-body');
            }

            function changepassword(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Change_password.html');
            }

            function logout(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Login.html');
            }

            function showdiv(){
                document.getElementById('profile-box').style.height ="60%";
                document.getElementById('profile-img').style.display='flex';
                document.getElementById('profile-info').style.display='block';
                document.getElementById('darkmode').style.display='grid';
            }

            window.onload = function(){
                var hidediv = document.getElementById('profile-box');
                var profile = document.getElementById('profile-img');
                var info = document.getElementById('profile-info');
                var darkmode = document.getElementById('darkmode');

                document.onclick = function(div){
                    if(div.target.id!='box2' && div.target.id!="profile" && div.target.className!='info' && div.target.id!="darkmode" && div.target.className!='switch' && div.target.className!='theme-switch' && div.target.id!='slider' && div .target.id!='checkbox' && div.target.className!='change-password' && div.target.id!='logout-btn'){
                        hidediv.style.height='0';
                        profile.style.display='none';
                        info.style.display='none';
                        darkmode.style.display='none';
                    }
                }

                setInterval(showTime,0);
                function showTime() {
                    let time = new Date();
                    let hour = time.getHours();
                    let min = time.getMinutes();
                    // let sec = time.getSeconds();
                    am_pm = " AM";

                    if (hour > 12) {
                        hour -= 12;
                        am_pm = " PM";
                    }

                    else if (hour<12){
                        am_pm=" AM";
                    }

                    else if (hour == 0) {
                        hr = 12;
                        am_pm = " AM";
                    }


                    hour = hour < 10 ? "0" + hour : hour;
                    min = min < 10 ? "0" + min : min;
                    // sec = sec < 10 ? "0" + sec : sec;

                    let currentTime = hour + ":"
                            + min /*+ ":" + sec*/ + am_pm;

                    document.getElementById("clock")
                            .innerHTML = currentTime;
                }
                showTime();
            }

            function showoutpass(){
                document.getElementById('outpass-box-main').style.display='block';
                document.getElementById('status-box-main').style.display='none';
            }

            function showstatus(){
                document.getElementById('outpass-box-main').style.display='none';
                document.getElementById('status-box-main').style.display='block';
            }

            function Complaints(){
                location.assign('C:/Users/Admin/Desktop/Projects/views/Complaints.html');
            }
        </script>
    </body>
</html>