:root {
    --oc-transparent:transparent;
    --oc-white: #fff;
    --oc-black: #000;
    --oc-gray-0: #f8f9fa;
    --oc-gray-1: #f1f3f5;
    --oc-gray-2: #e9ecef;
    --oc-gray-3: #dee2e6;
    --oc-gray-4: #ced4da;
    --oc-gray-5: #adb5bd;
    --oc-gray-6: #868e96;
    --oc-gray-7: #495057;
    --oc-gray-8: #343a40;
    --oc-gray-9: #212529;
    --oc-red-0: #fff5f5;
    --oc-red-1: #ffe3e3;
    --oc-red-2: #ffc9c9;
    --oc-red-3: #ffa8a8;
    --oc-red-4: #ff8787;
    --oc-red-5: #ff6b6b;
    --oc-red-6: #fa5252;
    --oc-red-7: #f03e3e;
    --oc-red-8: #e03131;
    --oc-red-9: #c92a2a;
    --oc-pink-0: #fff0f6;
    --oc-pink-1: #ffdeeb;
    --oc-pink-2: #fcc2d7;
    --oc-pink-3: #faa2c1;
    --oc-pink-4: #f783ac;
    --oc-pink-5: #f06595;
    --oc-pink-6: #e64980;
    --oc-pink-7: #d6336c;
    --oc-pink-8: #c2255c;
    --oc-pink-9: #a61e4d;
    --oc-grape-0: #f8f0fc;
    --oc-grape-1: #f3d9fa;
    --oc-grape-2: #eebefa;
    --oc-grape-3: #e599f7;
    --oc-grape-4: #da77f2;
    --oc-grape-5: #cc5de8;
    --oc-grape-6: #be4bdb;
    --oc-grape-7: #ae3ec9;
    --oc-grape-8: #9c36b5;
    --oc-grape-9: #862e9c;
    --oc-violet-0: #f3f0ff;
    --oc-violet-1: #e5dbff;
    --oc-violet-2: #d0bfff;
    --oc-violet-3: #b197fc;
    --oc-violet-4: #9775fa;
    --oc-violet-5: #845ef7;
    --oc-violet-6: #7950f2;
    --oc-violet-7: #7048e8;
    --oc-violet-8: #6741d9;
    --oc-violet-9: #5f3dc4;
    --oc-indigo-0: #edf2ff;
    --oc-indigo-1: #dbe4ff;
    --oc-indigo-2: #bac8ff;
    --oc-indigo-3: #91a7ff;
    --oc-indigo-4: #748ffc;
    --oc-indigo-5: #5c7cfa;
    --oc-indigo-6: #4c6ef5;
    --oc-indigo-7: #4263eb;
    --oc-indigo-8: #3b5bdb;
    --oc-indigo-9: #364fc7;
    --oc-blue-0: #e7f5ff;
    --oc-blue-1: #d0ebff;
    --oc-blue-2: #a5d8ff;
    --oc-blue-3: #74c0fc;
    --oc-blue-4: #4dabf7;
    --oc-blue-5: #339af0;
    --oc-blue-6: #228be6;
    --oc-blue-7: #1c7ed6;
    --oc-blue-8: #1971c2;
    --oc-blue-9: #1864ab;
    --oc-cyan-0: #e3fafc;
    --oc-cyan-1: #c5f6fa;
    --oc-cyan-2: #99e9f2;
    --oc-lightblue1:#62f0f8;
    --oc-cyan-3: #66d9e8;
    --oc-cyan-4: #3bc9db;
    --oc-cyan-5: #22b8cf;
    --oc-cyan-6: #15aabf;
    --oc-cyan-7: #1098ad;
    --oc-cyan-8: #0c8599;
    --oc-cyan-9: #0b7285;
    --oc-teal-0: #e6fcf5;
    --oc-teal-1: #c3fae8;
    --oc-teal-2: #96f2d7;
    --oc-teal-3: #63e6be;
    --oc-teal-4: #38d9a9;
    --oc-teal-5: #20c997;
    --oc-teal-6: #12b886;
    --oc-teal-7: #0ca678;
    --oc-teal-8: #099268;
    --oc-teal-9: #087f5b;
    --oc-green-0: #ebfbee;
    --oc-green-1: #d3f9d8;
    --oc-green-2: #b2f2bb;
    --oc-green-3: #8ce99a;
    --oc-green-4: #69db7c;
    --oc-green-5: #51cf66;
    --oc-green-6: #40c057;
    --oc-green-7: #37b24d;
    --oc-green-8: #2f9e44;
    --oc-green-9: #2b8a3e;
    --oc-lime-0: #f4fce3;
    --oc-lime-1: #e9fac8;
    --oc-lime-2: #d8f5a2;
    --oc-lime-3: #c0eb75;
    --oc-lime-4: #a9e34b;
    --oc-lime-5: #94d82d;
    --oc-lime-6: #82c91e;
    --oc-lime-7: #74b816;
    --oc-lime-8: #66a80f;
    --oc-lime-9: #5c940d;
    --oc-yellow-0: #fff9db;
    --oc-yellow-1: #fff3bf;
    --oc-yellow-2: #ffec99;
    --oc-yellow-3: #ffe066;
    --oc-yellow-4: #ffd43b;
    --oc-yellow-5: #fcc419;
    --oc-yellow-6: #fab005;
    --oc-yellow-7: #f59f00;
    --oc-yellow-8: #f08c00;
    --oc-yellow-9: #e67700;
    --oc-orange-0: #fff4e6;
    --oc-orange-1: #ffe8cc;
    --oc-orange-2: #ffd8a8;
    --oc-orange-3: #ffc078;
    --oc-orange-4: #ffa94d;
    --oc-orange-5: #ff922b;
    --oc-orange-6: #fd7e14;
    --oc-orange-7: #f76707;
    --oc-orange-8: #e8590c;
    --oc-orange-9: #d9480f;

}

:root {
    /* viewports */
    --viewport-tablet: 48rem; /* 768px */
    --viewport-laptop: 72rem; /* 1152px */
    --viewport-desktop: 96rem; /* 1536px */
  
    /* colors */
    --white: var(--oc-white);
    --transparent:var(--oc-transparent);
    --black: var(--oc-black);
  
    /* colors: Brand Grays */
    --gray-50: #f0f1f3;
    --gray-50-20:#f0f1f320;
    --gray-100: #e0e2e8;
    --gray-200: #c3c6d1;
    --gray-300: #a5abbb;
    --gray-400: #8991a5;
    --gray-500: #6d7790;
    --gray-600: #515e7b;
    --gray-700: #364767;
    --gray-800: #183153;
    --gray-900: #001c40;
  
    /* colors: red */
    --red0: var(--oc-red-0);
    --red1: var(--oc-red-1);
    --red2: var(--oc-red-2);
    --red3: var(--oc-red-3);
    --red4: var(--oc-red-4);
    --red5: var(--oc-red-5);
    --red6: var(--oc-red-6);
    --red7: var(--oc-red-7);
    --red8: var(--oc-red-8);
    --red9: var(--oc-red-9);
  
    /* colors: pink */
    --pink0: var(--oc-pink-0);
    --pink1: var(--oc-pink-1);
    --pink2: var(--oc-pink-2);
    --pink3: var(--oc-pink-3);
    --pink4: var(--oc-pink-4);
    --pink5: var(--oc-pink-5);
    --pink6: var(--oc-pink-6);
    --pink7: var(--oc-pink-7);
    --pink8: var(--oc-pink-8);
    --pink9: var(--oc-pink-9);
  
    /* colors: grape */
    --grape0: var(--oc-grape-0);
    --grape1: var(--oc-grape-1);
    --grape2: var(--oc-grape-2);
    --grape3: var(--oc-grape-3);
    --grape4: var(--oc-grape-4);
    --grape5: var(--oc-grape-5);
    --grape6: var(--oc-grape-6);
    --grape7: var(--oc-grape-7);
    --grape8: var(--oc-grape-8);
    --grape9: var(--oc-grape-9);
  
    /* colors: violet */
    --violet0: var(--oc-violet-0);
    --violet1: var(--oc-violet-1);
    --violet2: var(--oc-violet-2);
    --violet3: var(--oc-violet-3);
    --violet4: var(--oc-violet-4);
    --violet5: var(--oc-violet-5);
    --violet6: var(--oc-violet-6);
    --violet7: var(--oc-violet-7);
    --violet8: var(--oc-violet-8);
    --violet9: var(--oc-violet-9);
  
    /* colors: indigo */
    --indigo0: var(--oc-indigo-0);
    --indigo1: var(--oc-indigo-1);
    --indigo2: var(--oc-indigo-2);
    --indigo3: var(--oc-indigo-3);
    --indigo4: var(--oc-indigo-4);
    --indigo5: var(--oc-indigo-5);
    --indigo6: var(--oc-indigo-6);
    --indigo7: var(--oc-indigo-7);
    --indigo8: var(--oc-indigo-8);
    --indigo9: var(--oc-indigo-9);
  
    /* colors: blue */
    --blue0: var(--oc-blue-0);
    --blue1: var(--oc-blue-1);
    --blue2: var(--oc-blue-2);
    --blue3: var(--oc-blue-3);
    --lightblue1: var(--oc-lightblue1);
    --blue4: var(--oc-blue-4);
    --blue5: var(--oc-blue-5);
    --blue6: var(--oc-blue-6);
    --blue7: var(--oc-blue-7);
    --blue8: var(--oc-blue-8);
    --blue9: var(--oc-blue-9);
  
    /* colors: cyan */
    --cyan0: var(--oc-cyan-0);
    --cyan1: var(--oc-cyan-1);
    --cyan2: var(--oc-cyan-2);
    --cyan3: var(--oc-cyan-3);
    --cyan4: var(--oc-cyan-4);
    --cyan5: var(--oc-cyan-5);
    --cyan6: var(--oc-cyan-6);
    --cyan7: var(--oc-cyan-7);
    --cyan8: var(--oc-cyan-8);
    --cyan9: var(--oc-cyan-9);
  
    /* colors: teal */
    --teal0: var(--oc-teal-0);
    --teal1: var(--oc-teal-1);
    --teal2: var(--oc-teal-2);
    --teal3: var(--oc-teal-3);
    --teal4: var(--oc-teal-4);
    --teal5: var(--oc-teal-5);
    --teal6: var(--oc-teal-6);
    --teal7: var(--oc-teal-7);
    --teal8: var(--oc-teal-8);
    --teal9: var(--oc-teal-9);
  
    /* colors: green */
    --green0: var(--oc-green-0);
    --green1: var(--oc-green-1);
    --green2: var(--oc-green-2);
    --green3: var(--oc-green-3);
    --green4: var(--oc-green-4);
    --green5: var(--oc-green-5);
    --green6: var(--oc-green-6);
    --green7: var(--oc-green-7);
    --green8: var(--oc-green-8);
    --green9: var(--oc-green-9);
  
    /* colors: lime */
    --lime0: var(--oc-lime-0);
    --lime1: var(--oc-lime-1);
    --lime2: var(--oc-lime-2);
    --lime3: var(--oc-lime-3);
    --lime4: var(--oc-lime-4);
    --lime5: var(--oc-lime-5);
    --lime6: var(--oc-lime-6);
    --lime7: var(--oc-lime-7);
    --lime8: var(--oc-lime-8);
    --lime9: var(--oc-lime-9);
  
    /* colors: yellow */
    --yellow0: var(--oc-yellow-0);
    --yellow1: var(--oc-yellow-1);
    --yellow2: var(--oc-yellow-2);
    --yellow3: var(--oc-yellow-3);
    --yellow4: var(--oc-yellow-4);
    --yellow5: var(--oc-yellow-5);
    --yellow6: var(--oc-yellow-6);
    --yellow7: var(--oc-yellow-7);
    --yellow8: var(--oc-yellow-8);
    --yellow9: var(--oc-yellow-9);
  
    /* colors: orange */
    --orange0: var(--oc-orange-0);
    --orange1: var(--oc-orange-1);
    --orange2: var(--oc-orange-2);
    --orange3: var(--oc-orange-3);
    --orange4: var(--oc-orange-4);
    --orange5: var(--oc-orange-5);
    --orange6: var(--oc-orange-6);
    --orange7: var(--oc-orange-7);
    --orange8: var(--oc-orange-8);
    --orange9: var(--oc-orange-9);
  
    /* Brand Colors
       Brand Gravy */
    --fa-dk-navy: var(--gray-900);
    --fa-navy: var(--gray-800);
    --fa-dk-gravy: var(--gray-600);
    --fa-md-gravy: var(--gray-400);
    --fa-gravy: var(--gray-200);
    --fa-lt-gravy: var(--gray-50);
  
    /* Brand Yellow */
    --fa-yellow: var(--oc-yellow-4);
    --fa-dk-yellow: var(--oc-yellow-6);
  
    /* Brand Blue */
    --fa-blue: var(--oc-blue-3);
    --fa-dk-blue: var(--oc-blue-7);
  
    /* Brand Teal */
    --fa-teal: var(--oc-teal-3);
    --fa-dk-teal: var(--oc-teal-7);
  
    /* Brand Red */
    --fa-red: var(--oc-red-4);
    --fa-dk-red: var(--oc-red-8);
  
    /* Brand Purple */
    --fa-purple: var(--oc-grape-3);
    --fa-dk-purple: var(--oc-grape-8);
  
    /* Brand Violet */
    --fa-violet: var(--oc-violet-3);
    --fa-dk-violet: var(--oc-violet-8);

    /*text and fonts*/
    --font-family-sans-serif: 'Varela Round', sans-serif;
    --font-family-Aldrich:'Aldrich';
    --font-family-serif: fa-livory, "Georgia", "Times New Roman", "Times", serif;
    --font-family-monospace: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
    --text-color: var(--fa-navy);
    --font-family:var(--font-main);
    --text-align: left;
    --background-color: var(--fa-lt-gravy);
  
    /* body/page */
    --body-background: var(--background-color);
    --body-color: var(--text-color);
    --body-font-family-1:var(--font-family-sans-serif);
    --body-font-family-2:var(--font-family-Aldrich);

    /*Positioning*/
    --position-fixed:fixed;
    --position-sticky:sticky;
    --position-relative:relative;
    --position-absolute:absolute;

    /*blur effects*/
    --oc-blur1:var(blur(1px));
    --oc-blur2:var(blur(2px));
    --oc-blur3:var(blur(3px));
    --oc-blur4:var(blur(4px));
    --oc-blur5:var(blur(5px));
    --oc-blur6:var(blur(6px));
    --oc-blur7:var(blur(7px));
    --oc-blur8:var(blur(8px));
    --oc-blur9:var(blur(9px));
    --oc-blur10:var(blur(10px));

    --blur1:var(--oc-blur1);
    --blur2:var(--oc-blur2);
    --blur3:var(--oc-blur3);
    --blur4:var(--oc-blur4);
    --blur5:var(--oc-blur5);
    --blur6:var(--oc-blur6);
    --blur7:var(--oc-blur7);
    --blur8:var(--oc-blur8);
    --blur9:var(--oc-blur9);
    --blur10:var(--oc-blur10);

    /*widths*/
    --topbar-width:var(100%);
    --body-width:var(100%);

    /*heights*/
    --topbar-height:var(15vh);
    --body-height:var(150vh);

    /*display types*/
    --display-grid:grid;
    --display-flex:flex;
    --display-block:block;
    --display-inlineblock:inline-block;
    --display-none:none;

    --justify-content-spacebetween:space-between;
    --justify-content-center:center;
    --justify-content-end:flex-end;
    --justify-content-start:flex-start;

    --align-items-center:center;
    --align-items-stretch:stretch;


}
body{
    margin:0;
    font-family: var(--font-family-sans-serif);
}

#main{
    position:absolute;
    background-image: url('https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg');
    background-size: 100% 100%;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box{
    height:70%;
    width:400px;
    position: inherit;
}


.login-container{
    display:grid;
    position:absolute;
    width:50%;
    min-width:750px !important;
    min-height: 530px !important;
    border-radius:10px;
    border: 1px solid #5e6164;
    background-color: rgba(255,255,255,0.25);
    background-size: 100% 100%;
    grid-template-columns: repeat(2,1fr);
    transition:all 0.3s ease-in-out;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#imageholder{
    position:relative;
    padding:10%;
    margin-top:1.5em;
    margin-bottom:1.5em;
    border-right:2px solid;
}

#img-menu{
    position:relative;
    left:5%;
    top:35%;
    width:90%;
}

#loginbox{
    display:grid;
    box-sizing: border-box;
    grid-template-rows: 70% 30%;
    border-radius: 6px;
}

.menu21{
    position:relative;
    display:grid;
}

.menu211{
    position: relative;
    display:flex;
    text-align:center;
    box-sizing: border-box;
    border-bottom:1px solid;
    margin-left:0.6em;
    margin-right:0.6em;
}

.menu212{
    position:relative;
    display:flex;
    margin-left:0.6em;
    margin-right:0.6em;
    align-items: center;
    box-sizing: border-box;
}

.menu213{
    position:relative;
    box-sizing: border-box;
    margin-left:0.6em;
    margin-right:0.6em;
}

.menu214{
    position:relative;
    box-sizing: border-box;
    margin-left:0.6em;
    margin-right:0.6em;
}

.menu21-div{
    position:relative;
    height:90%;
    top:5%;
    left:5%;
    width:90%;
    border-radius: 4px;
    display:grid;
    gap:10%;
    grid-template-rows:25% 10% 10% 25%;
    grid-template-columns:1fr;
    
}

#login-header{
    position: relative;
    grid-row-start:1;
    font-size:38px;
    padding:20px 0 0 95px;
    margin:0 0.3em 0 0.3em;
    border-bottom:1px solid;
    font-family: var(--font-family-Aldrich);
}

#login-username{
    position: relative;
    grid-row-start:2;
    margin:0 10% 0 10%;
}


input[type="text"],input[type="password"]{
    display:inline-block;
    width: 100%;
    height:100%;
    top:10%;
    padding-left:15%;
    box-sizing: border-box;
    border-radius:15px;
    border: 1px solid #5e6164;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"]:hover,input[type="password"]:hover{
    border:thin solid darkorchid;
    box-shadow:0 0 6px 0 dodgerblue;
}

input[type="text"]:focus,input[type="password"]:focus{
    border:thin solid #5e6164;
    border-bottom:medium solid #32cd32;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
    font-size:14px;
    position:relative;
    top:-75%;
    left:15%;
    pointer-events: none;
    transition:0.3s;
    color:rgb(99, 98, 98);
}

input:focus ~ label, input:valid ~ label{
    position: relative;
    font-size: 12px;
    left:15%;
    top:-130%;
    background-color:white;
    border-radius:3px;
    transition: 0.3s;
    color: #32cd32;
}


#login-password{
    display:inline-block;
    grid-row-start: 3;
    margin:0 10% 0 10%;
    
}

#loginbtn-box{
    position:relative;
    grid-row-start: 4;
    margin:0 0.7em 0 0.7em;
    /* border-top:1px solid; */
}

hr{
    border-top: 1px solid black;
}
.menu22{
    /* background-color:blue; */
    position:relative;
}

.menu22-div{
    position:relative;
    display:grid;
    height:90%;
    top:0;
    left:5%;
    width:90%;
    border-radius: 4px;
    grid-template-rows: repeat(2,1fr);
}

.menu221{
    box-sizing:border-box;
    border-bottom:1px solid;
    margin-left:1.5em;
    margin-right:1.5em;
    text-align:center;
    padding:30px;
}

.menu222{
    box-sizing:border-box;
    margin-left:1.5em;
    margin-right:1.5em;
    text-align:center;
    padding:30px;
}



button#loginbtn[type="submit"]{
    position:relative;
    width:80%;
    height:40%;
    left:10%;
    top:30%;
    border: 1px solid black;
    border-radius:5px;
    background-image:linear-gradient(90deg, #A3278F 0%, #E52F50 100%);
    color:black;
    cursor: pointer;
    -webkit-transition: background-image 1000ms linear;
    -moz-transition: background-image 1000ms linear;
    -o-transition: background-image 1000ms linear;
    -ms-transition: background-image 1000ms linear;
    transition: background-image 1000ms linear;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button#loginbtn[type="submit"]:hover{
    background-image:linear-gradient(-90deg, #A3278F 0%, #E52F50 100%);
    /* animation:changebg 0.3s ease-in-out; */
}

@keyframes changebg {
    0%{    background-image:linear-gradient(90deg, #A3278F , #E52F50 );
    }
    /* 50%{    background-image:linear-gradient(-90deg, #E52F50,#A3278F, #E52F50 );
    } */
    100%{    background-image:linear-gradient(-90deg, #A3278F, #E52F50);
    }
}


.Signup{
    color:darkblue;
    text-decoration: underline;
}

.Signup:hover{
    color:dodgerblue;
    text-decoration: underline;
}

.material-symbols-outlined {
    color:rgb(99, 98, 98);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
  }

  input:focus ~ .profile, input:valid ~ .profile{
    top:-160%;
}
.profile{
    position:relative;
    top:-160%;
    height:100%;
    width:13%;
    display:flex;
    align-items:center;
    justify-content:center;
    left:0;
    pointer-events: none;
    transition:0.3s;
}

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .wrap-login100-form-btn {
    width: 80%;
    top:15%;
    height:50px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    border:1px solid black;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  }
  
  .login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00bdde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    /* background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff); */
    top: 0;
    left: -100%;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn {
    font-size: 20px;
    color: black;
    font-family: var(--font-family-Aldrich);
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
  }

  button{
    outline: none !important;
    border: none;
    background: transparent;
  }